body {
    margin: 0;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    color: whitesmoke;
    font-family: 'Inter', sans-serif;
}
canvas {
    display:block;
}
.information-modal {
    flex-flow: column;
    width: 90%;
    max-width: 700px;
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #2b1d14;
    height: 90vh;
    align-items: stretch;
    max-height: 700px;
}
.information-header {
    padding: 20px;
    border-bottom: 2px solid #dbc9ba;
    font-size: larger;
    background: #38251b;
}
.information-text {
    padding: 0px 20px;
    flex-grow: 1;
    font-size: large;
    overflow-y: scroll;
}
.information-footer {
    padding: 10px;
    border-top: 2px solid #dbc9ba;
    background: #38251b;
    display: flex;
    justify-content: end;
}
.information-footer a {
    padding: 10px 20px;
    background-color: #197e2f;
    border: none;
    font-size: large;
    color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    display: none;
    text-decoration: none;
}
button {
    padding: 10px 20px;
    background-color: #197e2f;
    border: none;
    font-size: medium;
    color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
}

.touch-controls {
    background: #38251b;
    display: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari, Chrome, Opera, Samsung */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Edge, IE */
    user-select: none; /* Modern browsers */
}

.touch-controls button{
    width: 25%;
    margin: 6px 4px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari, Chrome, Opera, Samsung */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Edge, IE */
    user-select: none; /* Modern browsers */
}

@media only screen and (max-width: 1024px) {
    .touch-controls {
        height: 10vh;
        width: 100%;
        display: flex;
    }
    .information-modal {
        top: 5%;
        transform: translate(-50%, 0%);
        height: 80vh;
    }
  }